@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400";

nav {
    margin-top: -40px;
    color: white;
}

.nav {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    cursor: pointer;
    text-align: center;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.nav:hover {
    color: #92deb7;
}

header {
    margin-top: 25px;
}

h1 {
    text-align: center;
    color: #fff;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 300;
    line-height: 1.65;
    position: fixed;
}

body { 
    background-image: url('images/headerimage.jpg');
    margin-top: 50px;
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;       
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

html{height:100%,width:100%}

div.projects {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: fixed;
}

div.login {
    float:left;
    margin-left: 10px;
    margin-right: 10px;
    
    color: #fff;
    font-size: 17px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

div.andrios {
    float:left;
    margin-left: 10px;
    margin-right: 10px;
    
    color: #fff;
    font-size: 17px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

div.rn {
    float:left;
    margin-left: 10px;
    margin-right: 10px;
   
    color: #fff;
    font-size: 17px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

div.talus {
    float:left;
    margin-left: 10px;
    margin-right: 10px;
    
    color: #fff;
    font-size: 17px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.backbutton {
    color: #fff;
    border: 1px solid;
    border-radius: 8px;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    cursor: pointer;
    margin-top: 270px;
    position: fixed;
}

.backbutton:hover {
    background-color: #92deb7;
    border: none;
}

div.terms {
    display:block;
    position: fixed;
    bottom:0;
    right:0;
    width:100%;
    color: #fff;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}
