@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400";

<div><center><div class="mainicon"><img src="css/images/branddev.jpg" alt="branddev icon" height="130" width="130"></center></div>

.mainicon {
    border-radius: 50%;
}

h1 {
    text-align: center;
    color: #fff;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 100px;
    font-weight: 300;
    line-height: 1.65;
}

h2 {
    text-align: center;
    color: #fff;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 300;
}

body { 
    background-image: url('images/headerimage.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top; 
    background-size: 100% 100%;
}
