@import url(https://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400);

h1 {
    text-align: center;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 15pt;
    top: 150px;
}

h2 {
    text-align: center;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 15pt;
}

body { 
    background-image: url('images/headerimage.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top; 
    background-size: 100% 100%;
}
